# this workflow will run cron-job
# https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
name: cron
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # https://pubs.opengroup.org/onlinepubs/9699919799/utilities/crontab.htm
    # minute [0,59]
    # hour [0,23]
    # day of the month [1,31]
    # month of the year [1,12]
    # day of the week ([0,6] with 0=sunday)
    - cron: "0 * * * *"
  workflow_dispatch:
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - run: echo "$(date -u +'%Y-%m-%d %TZ')"
      - run: |
          curl "https://api.github.com/repos/kaizhu256/myci2/actions/workflows/ci.yml/dispatches" \
            -H "accept: application/vnd.github.v3+json" \
            -H "authorization: token ${{ secrets.MY_GITHUB_TOKEN }}" \
            -X POST \
            -d '{
                "inputs":{"workflow_dispatch_name":"mycron2"},
                "ref":"cron"
            }' \
            -s \
            &>/dev/null

